# Cache, session files and logs (Symfony3)
/var/cache/*
/var/log/*
/symfony.lock


# Managed by Composer
/bin/
!bin/console
/vendor/

# Assets and user uploads
/web/bundles/
/web/uploads/

# PHPUnit
/phpunit.xml.dist
/.env.test

# Build data
/build/

# Composer PHAR
/composer.json
/composer.lock

# Backup entities generated with doctrine:generate:entities command
**/Entity/*~

# IDE
/.idea/
